<div cdkDropListGroup class="app-container">

  <ng-container *ngIf="!selectedWidget; else propertiesPanel">
    <app-sidebar (saveSuccess)="onSave()"></app-sidebar>
  </ng-container>

  <ng-template #propertiesPanel>
    <app-properties
      [item]="selectedWidget"
      (save)="onSave()"
    ></app-properties>
  </ng-template>

  <app-canvas
    [layout]="layout"
    (widgetDropped)="onWidgetDropped($event)"
    (widgetSelected)="onWidgetSelected($event)"
  ></app-canvas>

  <app-success-banner
  *ngIf="showSuccess"
  message="Layout Saved Successfully!"
></app-success-banner>

</div>


